## .gitignore file

/build
/bin

# CUDA ignore filetypes
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Generic C++ ignore filetypes

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
